<div class="jumbotron">
    <h1>API Accounts</h1>
    <p class="lead">Administrar y gestionar cuentas.</p>
    <p><a href="./AutoAccounts/" class="btn btn-primary btn-lg">Accounts &raquo;</a></p>
</div>

