@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Payments</h1>
    <p class="lead">
        El cliente Jennifer Villa tienen tres cuentas bancarias, en el banco BBVA tienen la cuenta A y en el banco
        BANORTE tiene las cuentas B y C.
        Se requiere desarrollar una aplicación que permita registrar transacciones de retiro y transferencias,
        cálculo del valor del GMF cuando aplique, y que muestre un reporte de transacciones realizadas por el
        usuario. En el reporte se debe poder visualizar el valor del retiro, el valor del GMF, y el correspondiente
        saldo en cada operación; si la operación es una transferencia debe mostrar la cuenta de destino de la
        transferencia..
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Payments started</h2>
        <p>
            Payments
        </p>
        <p><a class="btn btn-default" href="~/Payments/">Payments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Customers</h2>
        <p>Customers.</p>
        <p><a class="btn btn-default" href="~/Customers/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Accounts</h2>
        <p>Accounts.</p>
        <p><a class="btn btn-default" href="~/Accounts/">Learn more &raquo;</a></p>
    </div>
</div>